@media (--latex-mobile){
	.form{
		width: 310px;
		padding: 5px;
	}
	.registration {
		width: 300px;
		height: 550px;
		&__icon--photo{
			left: 70px;
		}
		.button{
			font-size: 15px;
		}
	}

	.user{
		width: 300px;
		height: 550px;

		&__link{
			margin-top:10px;
		}
	}
}
