main.form
  div.registration
    h1.registration__title Регистрация
    label.registration__label.registration__label--photo
      svg(width='60' height='60').registration__icon.registration__icon--photo
        use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-photo")
      div.registration__photo-button
        span.registration__photo-title Загрузить фото
      input(type='file' onchange="previewFile()").registration__field.registration__field--photo
    label(for="name-field").registration__label 
      svg(width='30' height='30').registration__icon.registration__icon--profile
        use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-profile")
    input(type='text' placeholder='Имя' id='name-field').registration__field.registration__field--name
    label(for="surname-field").registration__label
    input(type='text' placeholder='Фамилия' id='surname-field').registration__field.registration__field--surname
    button.registration__button.js-adduser-btn Зарегистрировать
    p.registration__error.js-error-message
