main.registration
  h1.registration__title Регистрация пользователя
  input(type='text' placeholder='Введите имя').registration__field.registration__filed--name
  input(type='text' placeholder='Введите фамилию').registration__field.registration__filed--surname
  input(type='text' placeholder='Добавьте ссылку на фото').registration__field.registration__filed--photo
  button.registration__button Зарегистрировать
