main.registration
  h1.registration__title Регистрация пользователя
  label(for="name-field").registration__label Имя
  input(type='text' placeholder='Введите имя' id='name-field').registration__field.registration__field--name
  label(for="surname-field").registration__label Фамилия
  input(type='text' placeholder='Введите фамилию' id='surname-field').registration__field.registration__field--surname
  label(for="photo-field").registration__label Фото
  input(type='file').registration__field.registration__field--photo
  button.registration__button.js-adduser Зарегистрировать
  p.registration__error 
