main.form
  div.user
    svg(width='30' height='30').user__icon
      use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-profile")
    img(alt=).user__photo
    p.user__name 
    p.user__surname
  a(href='index.html').user__link  ← к форме регистрации
