main.form
  div.user
    img.user__photo
    p.user__name 
    p.user__surname
    img(src='assets/img/done.svg').user__done-image
    p.user__done-text Зарегистрирован
  a(href='index.html').user__link  ← к форме регистрации
